/*
=============================
Portfolio for Brian Loughnane
=============================
*/


/*
============================
Color Scheme
Based on Palleton.com
Root Color: #C2D2CA;

And (darker pallette) using
Root Color: #6c9b83;
============================
*/
/*
.green, a.green {
	background: #6C9B83;
	color: #c2d2ca;
	border: 2px solid #2E6A4C;
}

.blue, a.blue {
	background: #647E8C;
	color: #BAC3C8;
	border: 2px solid #2D4D60;
}

.blue:hover {
	background:;
	color:;
	border:;
}

.tan, a.tan {
	background: #DCBE9A;
	color: #FFF6EC;
	border: 2px solid #977142;
}

.tan:hover {
	background:;
	color:;
	border:;
}

.red, a.red {
	background: #DCAA9A;
	color: #FFF0EC;
	border: 2px solid #975742;
}

.red:hover {
	background:;
	color:;
	border:;
}

*/

/*
=
Color Pallette v2
=
*/

.green, a.green {
	background: #C2D2CA;
	color: #2E6A4C;
	border: 2px solid #2E6A4C;
}

.green:hover {
	background: #6C9B83;
	color: #C2D2CA;
	border: 2px solid transparent;
}

.blue, a.blue {
	background: #C2D2CA;;
	color: #2D4D60;
	border: 2px solid #2D4D60;
}
 
.blue:hover, a.blue:hover {
	background: #2D4D60;
	color: #BAC3C8;
	border: 2px solid #2D4D60;
}

.tan, a.tan {
	background: #C2D2CA;
	/*color: #FFF6EC;*/
	color: #977142;
	border: 2px solid #977142;
}

.tan:hover, a.tan:hover {
	background: #977142;
	color: #FFF6EC;
	border: 2px solid #977142;
}

.red, a.red {
	background: #C2D2CA;
	color: #975742;
	border: 2px solid #975742;
}

.red:hover, a.red:hover {
	background: #975742;
	color: #FFF0EC;
	border: 2px solid #975742;
}

/*
=============================
Grid
=============================
*/

*, *:before, *:after {
	box-sizing: border-box;
	box-sizing: -webkit-border-box;
	box-sizing: -moz-border-box;
	box-sizing: -ms-border-box;
	box-sizing: -o-border-box;
}

/*
=============================
General Style
=============================
*/

body {
	background-color: #ffecd4;
}

.container {
	text-align: center;
	min-width: 900px;
}

header.container {
	padding: 10px 0px 18px 0px;

}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}


/*
=============================
Header
=============================
*/
header {
	overflow: hidden;
	background: #c2d2ca;
	color: #c2d2ca;
}

header img {
	display: inline-block;
	height: 180px;
	border-radius: 100%;
	border: 2px solid #975742;
	margin-top: 10px;
}

header img#red {
	z-index: 0;
}

header img#bnw {
	position: absolute;
	z-index: -1;
	display: inline-block;
	height: 180px;
	border-radius: 100%;
	border: 2px solid #975742;
	margin-top: 10px;
}

header nav {
	display: inline-block;
	vertical-align: middle;
	margin-top: -175px;
}

header nav a {
	display: inline-block;
	padding: 35px 0px;
	margin-left: 50px;
	width: 110px;
	text-align: center;
	box-sizing: border-box;
	box-sizing: -webkit-border-box;
	box-sizing: -moz-border-box;
	box-sizing: -ms-border-box;
	box-sizing: -o-border-box;
	font-weight: 700;
}

/*
=============================
Main
=============================
*/

#main {
	clear:both;
}

blockquote {
	height: 30px;
}

blockquote, #featured-scroll div {
	margin: 14px 270px;
	text-align: center;
	font: 700 18px/28px Arial, Helvetica, serif;
}

#bq {
	background: #BAC3C8;
	color: #647d8c;
}

#featured-scroll {
	border: 0;
	background: inherit;
	color: #977142;
	overflow: hidden;
	min-width: 500px;
}

#featured-scroll div#about {
	margin: 60px 270px;
	text-align: center;
	font: 700 18px/28px Arial, Helvetica, serif;
}

#featured-scroll div#about h1 {
	margin-right: 210px;
}

#bq-2 {
	position: absolute;
	bottom: 127px;
	width: 100%;
	background: #dcaa9a;
	color: #fff0ec;
}

/*
=============================
Footer
=============================
*/

footer {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	text-align:center;
	padding: 17px 0px 10px 0px;
	background: #C2D2CA;
	color: #2E6A4C;
}

footer div {
	display: inline-block;
	width: 110px;
	height: 100px;
	margin: 0px 28px;
	border: 2px solid #6C9B83;
	border-radius: 100%;
}

footer img {
	width: 50px;
	margin-top: 25px;
}

footer a div i.fa {
display: inline-block;
font-family: FontAwesome;
color: black;
}