/*
=============================
Portfolio for Brian Loughnane
=============================
*/


/*
============================
Color Scheme
Based on Palleton.com
Root Color: #C2D2CA;

And (darker pallette) using
Root Color: #6c9b83;
============================
*/
/*
.green, a.green {
	background: #6C9B83;
	color: #c2d2ca;
	border: 2px solid #2E6A4C;
}

.blue, a.blue {
	background: #647E8C;
	color: #BAC3C8;
	border: 2px solid #2D4D60;
}

.blue:hover {
	background:;
	color:;
	border:;
}

.tan, a.tan {
	background: #DCBE9A;
	color: #FFF6EC;
	border: 2px solid #977142;
}

.tan:hover {
	background:;
	color:;
	border:;
}

.red, a.red {
	background: #DCAA9A;
	color: #FFF0EC;
	border: 2px solid #975742;
}

.red:hover {
	background:;
	color:;
	border:;
}*/



/*
=
Color Pallette
=
*/

.green, a.green {
	background: transparent;
	color: #2E6A4C;
	border: 2px solid #2E6A4C;
}

.green:hover {
	background: #2E6A4C;
	color: #C2D2CA;
}

header a.green:hover {
	background: #2E6A4C;
	color: #C2D2CA;
	-webkit-transition: background .5s ease 0s, color .5s ease 0s;
	-moz-transition: background .5s ease 0s, color .5s ease 0s;
	-o-transition: background .5s ease 0s, color .5s ease 0s;
	-ms-transition: background .5s ease 0s, color .5s ease 0s;
	transition: background .5s ease 0s, color .5s ease 0s;
}

.blue, a.blue {
	background: transparent;
	color: #2D4D60;
	border: 2px solid #2D4D60;
}
 
.blue:hover, a.blue:hover {
	background: #2D4D60;
	color: #BAC3C8;
}

header a.blue:hover {
	background: #2D4D60;
	color: #BAC3C8;
	-webkit-transition: background .5s ease 0s, color .5s ease 0s;
	-moz-transition: background .5s ease 0s, color .5s ease 0s;
	-o-transition: background .5s ease 0s, color .5s ease 0s;
	-ms-transition: background .5s ease 0s, color .5s ease 0s;
	transition: background .5s ease 0s, color .5s ease 0s;
}

.tan, a.tan {
	background: transparent;
	color: #977142;
	border: 2px solid #977142;
}

.tan:hover, a.tan:hover {
	background: #977142;
	color: #FFF6EC;
}

header a.tan:hover {
	background: #977142;
	color: #FFF6EC;
	-webkit-transition: background .5s ease 0s, color .5s ease 0s;
	-moz-transition: background .5s ease 0s, color .5s ease 0s;
	-o-transition: background .5s ease 0s, color .5s ease 0s;
	-ms-transition: background .5s ease 0s, color .5s ease 0s;
	transition: background .5s ease 0s, color .5s ease 0s;
}

.red, a.red {
	background: transparent;
	color: #975742;
	border: 2px solid #975742;
}

.red:hover, a.red:hover {
	background: #975742;
	color: #FFF0EC;
}

header a.red:hover {
	background: #975742;
	color: #FFF0EC;
	-webkit-transition: background .5s ease 0s, color .5s ease 0s;
	-moz-transition: background .5s ease 0s, color .5s ease 0s;
	-o-transition: background .5s ease 0s, color .5s ease 0s;
	-ms-transition: background .5s ease 0s, color .5s ease 0s;
	transition: background .5s ease 0s, color .5s ease 0s;
}

/*
=============================
Background Gradients
=============================
*/

.green-lg {
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #C2D2CA), color-stop(1, #96B4A5));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #C2D2CA 0%, #96B4A5 100%);
}

.tan-lg {
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFF6EC 0%, #FFECD4 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFF6EC 0%, #FFECD4 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFF6EC 0%, #FFECD4 100%); 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFF6EC), color-stop(1, #FFECD4));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFF6EC 0%, #FFECD4 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #FFF6EC 0%, #FFECD4 100%);
}

.blue-lg {
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #BAC3C8), color-stop(1, #8A9AA4));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #BAC3C8 0%, #8A9AA4 100%);
}

.red-lg {
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFDED4 0%, #DCAA9A 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFDED4 0%, #DCAA9A 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFDED4 0%, #DCAA9A 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFDED4), color-stop(1, #DCAA9A));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFDED4 0%, #DCAA9A 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #FFDED4 0%, #DCAA9A 100%);
}

/*
=============================
Grid
=============================
*/

*, *:before, *:after {
	box-sizing: border-box;
	box-sizing: -webkit-border-box;
	box-sizing: -moz-border-box;
	box-sizing: -ms-border-box;
	box-sizing: -o-border-box;
}

/*
=============================
General Style
=============================
*/

body {
	font: 700 18px/28px Arial, Helvetica, serif;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #C2D2CA), color-stop(1, #96B4A5));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #C2D2CA 0%, #96B4A5 100%);
}

.container {
	text-align: center;
	min-width: 900px;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0px;
}

p {
	margin: 20px 0px 0px 0px;
}

/*
=============================
Header
=============================
*/
header {
	padding: 10px 0px 18px 0px;
}

header img {
	height: 180px;
	border-radius: 100%;
	border: 2px solid #975742;
	margin-top: 10px;
}

header img:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(1440deg);
	transition-duration: 10s;
	transition-delay: 3s;
}

header nav {
	display: inline-block;
	vertical-align: middle;
	margin-top: -175px;
}

header nav a {
	display: inline-block;
	padding: 35px 0px;
	margin-left: 50px;
	width: 110px;
}

/*
=============================
Main
=============================
*/

blockquote {
	text-align: center;
}

/*#bq {
	color: #647d8c;
	border: 2px solid #2D4D60;
}*/

section>div:first-child {
	color: #647d8c;
	border: 2px solid #2D4D60;
}

/*#featured-scroll {
	border: 0;
	color: #977142;
	overflow: hidden;
	min-width: 500px;
}*/

section>div:nth-child(2) {
	border: 0;
	color: #977142;
	overflow: hidden;
	min-width: 500px;
}

/*#about {
	text-align: center;
	background: transparent;
	max-width: 900px;
	margin: 20px auto;
	padding: 30px 0px;
}*/

section div div {
	text-align: center;
	background: transparent;
	max-width: 900px;
	margin: 20px auto;
	padding: 30px 0px;
}

/*#about h1 {
	margin-right: 390px;
}*/

section div div h1 {
	margin-right: 390px;
}

/*
=============================
Footer
=============================
*/

/*#bq-2 {
	width: 100%;
	color: #975742;
	margin-bottom: 17px;
	border: 2px solid #975742;
}*/

footer>div {
	width: 100%;
	color: #975742;
	margin-bottom: 17px;
	border: 2px solid #975742;
}

footer a div {
	display: inline-block;
	width: 110px;
	height: 100px;
	margin: 0px 28px;
	border-radius: 100%;
}

footer a div:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	transition-duration: 0.5s;
}

.fa {
	font-size: 40px;
	margin-top: 26px;
}