/*
=============================
Portfolio for Brian Loughnane
=============================
*/


/*
============================
Color Scheme
Based on Palleton.com
Root Color: #C2D2CA;

And (darker pallette) using
Root Color: #6c9b83;
============================
*/
/*
.green, a.green {
	background: #6C9B83;
	color: #c2d2ca;
	border: 2px solid #2E6A4C;
}

.blue, a.blue {
	background: #647E8C;
	color: #BAC3C8;
	border: 2px solid #2D4D60;
}

.blue:hover {
	background:;
	color:;
	border:;
}

.tan, a.tan {
	background: #DCBE9A;
	color: #FFF6EC;
	border: 2px solid #977142;
}

.tan:hover {
	background:;
	color:;
	border:;
}

.red, a.red {
	background: #DCAA9A;
	color: #FFF0EC;
	border: 2px solid #975742;
}

.red:hover {
	background:;
	color:;
	border:;
}*/



/*
=
Color Pallette
=
*/

.green, a.green {
	background: transparent;
	color: #2E6A4C;
	border: 2px solid #2E6A4C;
}

.green:hover {
	background: #6C9B83;
	color: #C2D2CA;
	border: 2px solid transparent;
}

.blue, a.blue {
	background: transparent;
	color: #2D4D60;
	border: 2px solid #2D4D60;
}
 
.blue:hover, a.blue:hover {
	background: #2D4D60;
	color: #BAC3C8;
	border: 2px solid #2D4D60;
}

.tan, a.tan {
	background: transparent;
	color: #FFF6EC;
	color: #977142;
	border: 2px solid #977142;
}

.tan:hover, a.tan:hover {
	background: #977142;
	color: #FFF6EC;
	border: 2px solid #977142;
}

.red, a.red {
	background: transparent;
	color: #975742;
	border: 2px solid #975742;
}

.red:hover, a.red:hover {
	background: #975742;
	color: #FFF0EC;
	border: 2px solid #975742;
}

/*
=============================
Background Gradients
=============================
*/

.green-lg {
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #C2D2CA), color-stop(1, #96B4A5));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #C2D2CA 0%, #96B4A5 100%);
}

.tan-lg {
		/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFF6EC 0%, #FFECD4 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFF6EC 0%, #FFECD4 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFF6EC 0%, #FFECD4 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFF6EC), color-stop(1, #FFECD4));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFF6EC 0%, #FFECD4 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at center, #FFF6EC 0%, #FFECD4 100%);
}

.blue-lg {
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #BAC3C8), color-stop(1, #8A9AA4));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #BAC3C8 0%, #8A9AA4 100%);
}

.red-lg {
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFDED4 0%, #DCAA9A 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFDED4 0%, #DCAA9A 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFDED4 0%, #DCAA9A 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFDED4), color-stop(1, #DCAA9A));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFDED4 0%, #DCAA9A 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at center, #FFDED4 0%, #DCAA9A 100%);
}

/*
=============================
Grid
=============================
*/

*, *:before, *:after {
	box-sizing: border-box;
	box-sizing: -webkit-border-box;
	box-sizing: -moz-border-box;
	box-sizing: -ms-border-box;
	box-sizing: -o-border-box;
}

/*
=============================
General Style
=============================
*/

body {
	font: 700 18px/28px Arial, Helvetica, serif;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #C2D2CA), color-stop(1, #96B4A5));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #C2D2CA 0%, #96B4A5 100%);
}

.container {
	text-align: center;
	min-width: 900px;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0px;
}

p {
	margin: 20px 0px 0px 0px;
}

/*
=============================
Header
=============================
*/
header {
	padding: 10px 0px 18px 0px;
	/*overflow: hidden;*/
	/*background: #c2d2ca;
	color: #c2d2ca;*/
}

header img {
	/*display: inline-block;*/
	height: 180px;
	border-radius: 100%;
	border: 2px solid #975742;
	margin-top: 10px;
}

/*header img#red {
	z-index: 0;
}

header img#bnw {
	position: absolute;
	z-index: -1;
	display: inline-block;
	height: 180px;
	border-radius: 100%;
	border: 2px solid #975742;
	margin-top: 10px;
}*/

header nav {
	display: inline-block;
	vertical-align: middle;
	margin-top: -175px;
}

header nav a {
	display: inline-block;
	padding: 35px 0px;
	margin-left: 50px;
	width: 110px;
	/*text-align: center;
	box-sizing: border-box;
	box-sizing: -webkit-border-box;
	box-sizing: -moz-border-box;
	box-sizing: -ms-border-box;
	box-sizing: -o-border-box;*/
	/*font-weight: 700;*/
}

/*
=============================
Main
=============================
*/

/*#main {
	clear:both;
}*/

/*blockquote {
	background: transparent;
	/*overflow: none;
}*/

blockquote {
	/*margin: 14px 270px;*/
	text-align: center;
	/*font: 700 18px/28px Arial, Helvetica, serif;*/
}

#bq {
	color: #647d8c;
	border: 2px solid #2D4D60;
}

#featured-scroll {
	border: 0;
	color: #977142;
	overflow: hidden;
	min-width: 500px;
/*	min-height: 500px;*/
}

#about {
	text-align: center;
	/*font: 700 18px/28px Arial, Helvetica, serif;*/
	background: transparent;
	max-width: 900px;
	margin: 0px auto;
	padding: 30px 0px;
}

#about h1 {
	margin-right: 390px;
}



/*
=============================
Footer
=============================
*/

footer {
	overflow: hidden;
	width: 100%;
	text-align:center;
	padding: 0px 0px 10px 0px;
	background: #C2D2CA;
	color: #2E6A4C;
}

footer #bq-2 {
	width: 100%;
	color: #975742;
	margin-bottom: 17px;
	border: 2px solid #975742;
}

footer a div {
	display: inline-block;
	width: 110px;
	height: 100px;
	margin: 0px 28px;
	border: 2px solid #6C9B83;
	border-radius: 100%;
}

footer a div:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	transition-duration: 0.5s;
}

footer img {
	width: 50px;
	margin-top: 28px;
}

.fa {
	font-size: 40px;
	margin-top: 26px;
}