/*
Style sheet for Brian Loughnane's resume
Written by Brian Loughnane, 2014
*/

/*
==================
Color Pallette
==================
*/

.green/*, a.green*/ {
	background: transparent;
	color: #2E6A4C;
	border: 2px solid #2E6A4C;
}

.green:hover {
	background: #6C9B83;
	color: #C2D2CA;
	border: 2px solid transparent;
}

.green-font {
	color: #2E6A4C;
}

.blue/*, a.blue*/ {
	background: transparent;
	color: #2D4D60;
	border: 2px solid #2D4D60;
}
 
.blue:hover,/* a.blue:hover,*/ footer:hover {
	background: #2D4D60;
	color: #BAC3C8;
	border: 2px solid #2D4D60;
}

.blue-font {
	color: #2D4D60;
}

.tan/*, a.tan*/ {
	background: transparent;
	color: #977142;
	border: 2px solid #977142;
}

.tan:hover/*, a.tan:hover*/ {
	background: #977142;
	color: #FFF6EC;
	border: 2px solid #977142;
}

.tan-font {
	color: #977142;
}

.red/*, a.red*/ {
	background: transparent;
	color: #975742;
	border: 2px solid #975742;
}

.red:hover/*, a.red:hover*/ {
	background: #975742;
	color: #FFF0EC;
	border: 2px solid #975742;
}

.red-font {
	color: #975742;
}

/*
================
Grid
================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.container {
	width: 730px;
	margin: 0 auto;
}

/*
================
Style
================
*/

body {
	font-family: Garamond;
	color: #2d4d60;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #BAC3C8), color-stop(1, #8A9AA4));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #BAC3C8 0%, #8A9AA4 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #BAC3C8 0%, #8A9AA4 100%);
}

header, footer {
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #C2D2CA), color-stop(1, #96B4A5));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #C2D2CA 0%, #96B4A5 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #C2D2CA 0%, #96B4A5 100%);
}

h1 {
	margin-bottom: 2px;
}

h2 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: inherit;
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: inherit;
}

p {
	margin: 0px;
}

ul {
	padding-left: 20px;
}

section, article div {
	padding: 10px 0px;
	overflow: hidden;
}

/*
================
Header
================
*/

/*header {
	border-bottom: 1px solid #2D4D60;
	position: fixed;
	width: 100%;
	min-width: 1008px;
	margin-left: -20px;
	margin-top: -20px;
	padding-top: 40px;
	padding-bottom: 5px;
	-webkit-transform: translateZ(0);
}*/

header {
	border-bottom: 1px solid #2D4D60;
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 839px;
	/* margin-left: -20px; */
	/* margin-top: -20px; */
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transform: translateZ(0);
}

header>div {
	max-width: 1159px;
	margin: auto;
}

header nav {
	/*display: inline-block;*/
	float: right;
	margin-top: 15px;
	/*margin-right: 0px;*/
}

/*header nav a {
	padding: 10px;
}*/

header nav a {
	padding: 10px; 
	/*min-width: 103px;*/
	/*max-height: 60px;*/
	display: inline-block;
	text-align: center;
	vertical-align: top;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}

header h2 {
	display: inline;
	border-bottom: none;
}

/*#contact-links {
	margin-left: 30px;
}*/



/*
=====================
Article
=====================
*/

/*article>section {
	margin-top: 350px;
	margin-bottom: 1000px;
	padding-top: 100px;
}*/

#purposeAndGoals {
	margin-top: 120px;
	color: #2E6A4C;
}

/*#experience {
	color: #2D4D60;
}*/

/*#education*/

article section:nth-child(2) div:nth-child(2) {
	color: #975742;
}

/*interests*/

article section:nth-child(3) div:first-child {
	color: #977142;
	float: right;
	width: 49%;
}

/*#hobbies {
	color: #2D4D60;
}*/

article section:nth-child(3) div:nth-child(2) {
	float:left;
	width: 49%;
}

#languagesAndPrograms {
	clear: both;
	/*margin-bottom: 440px;*/
}

/*languages*/

article section:nth-child(4) div:first-child {
	color: #2E6A4C;
	float:left;
	width: 49%;
}

/*programs*/

article section:nth-child(4) div:nth-child(2) {
	color: #975742;
	float: right;
	width: 49%;
}

/*#languages, #hobbies {
	float:left;
	width: 49%;
}*/

/*#programs, article section:nth-child(3) div:first-child {
	float: right;
	width: 49%;
}*/


/*
#languagesAndPrograms {
	padding: 120px 0px 0px 0px;
}

#hobbiesAndInterests {
	padding: 220px 0px 0px 0px;
}

#languages h2, #hobbies h2 {
	margin-top: 0px;
}

#programs h2, #interests h2 {
	margin-top: 0px;
}
*/

/*references*/
body>section {
	border-top: 1px solid #2d4d60;
	text-align: center;
	padding: 15px;
	/*color: #2D4D60;*/
	/*clear: both;*/
}

/*em {
	display: inline-block;
	margin-top: 10px;
}*/

/*footer*/

footer {
border-top: 1px solid #2D4D60;
padding: 50px 0px;
text-align: center;
/* width: 104%; */
/* margin-left: -20px; */
min-width: 1008px;
font-size: 24px;
/* position: relative; */
/* top: 10px; */
}

footer img {
	/*display: inline-block;*/
	width: 200px;
	border-radius: 100%;
	border: 1px solid #975742;
}

footer p {
	margin: 30px 0px 0px 0px;
}

